body{
	margin:0;
	background: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}
canvas{
	display: block;
	margin:0 auto;
	padding-top:12px;
   width: 50vw;
   height: 50vw;
   display: block;

}