img{
	height:100vh;
	wdth:auto;
	pointer-events: none;
	-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}
img.off{
	display: none;
}
.dark{
	filter:invert(1);
}